/* KLS colors
light-blue: rgb(153, 215, 212)
dark-blue: rgb(85, 177, 164)
orange: rgb(234, 177, 48)
dark orange: rgb(242, 102, 68) 
*/

body {
  font-family: Arial, sans-serif;
  margin-left: 30px;
  align-items: center;
  min-width: 300px;
  font-size: 14px;
  color: black;
}
a {
  font-size: 12px;
  color: #919191;
  margin: 0;
}
a:hover {
  color: black;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  #header {
    flex-direction: column;
    align-items: flex-start;
  }
  body {
    margin-right: 30px;
  }
}
#email {
  margin-right: 30px;
}
h1 {
  font-size: 25px;
  margin-bottom: 0;
  color: rgb(56, 127, 109);
}
#description {
  font-size: 16px;
  font-style: italic;
  color: rgb(130, 171, 161);
}
h3 {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 18px;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
}
input::placeholder,
textarea::placeholder {
  color: #b5b5b5;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgb(85, 84, 84);
  box-shadow: 0 0 0 0;
}
textarea {
  display: block;
  margin-top: 10px;
  padding: 10px;
  resize: none;
  width: 93%;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
#userInput {
  min-height: 30px;
  max-height: 150px;
}
#responseArea {
  min-height: 300px;
  max-height: 300px;
}
p {
  display: inline;
}
button {
  display: inline;
  background-color: #87c9a1;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  padding: 8px;
  color: black;
}
button:hover {
  background-color: #75ae8c;
}
button:active {
  background-color: #79b290;
}
#buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0px;
}
#convertButton {
  background-color: rgb(244, 134, 107);
  color: black;
  padding-left: 15px;
  padding-right: 15px;
}
#convertButton:hover {
  background-color: rgb(223, 108, 79);
}
#convertButton:active {
  background-color: rgb(242, 102, 68);
}
#magicWand {
  margin-left: 2px;
  width: 13px;
  height: 13px;
}
input,
label {
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px;
  font-size: 14px;
}
div {
  margin-top: 10px;
}
