<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QTI Generator</title>
    <!-- must have the leading slash before static-->
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="/static/favicon.ico" />
    <script src="/static/script.js" defer></script>
  </head>
  <body>
    <div id="header">
      <h1>QTI Generator</h1>
      <a id="email" href="mailto:vy@khanlabschool.org">vy@khanlabschool.org</a>
    </div>
    <h3>
      <b>Step 1</b> (Optional): Generate problems. If you already have them, go
      to step 2.
    </h3>
    <a
      href="https://docs.google.com/document/d/1VJUXiOxDDTXucliSt82bKSVwtZnPGRcIMZ_kgHFmIfA/edit?tab=t.re289c6uoaha"
      >Example prompts</a
    >
    <textarea
      id="userInput"
      placeholder="Give me 5 multiple choice problems and 5 fill in the blank problems about the quadratic formula"
    ></textarea>
    <button id="generateButton">
      Generate
      <img id="magicWand" src="/static/magic-wand.png" />
    </button>
    <br />
    <br />
    <h3>
      <b>Step 2</b>: Paste problems below. Edit as needed. Convert once done.
    </h3>
    <label for="zipName">Name your zip file:</label>
    <input type="text" id="zipName" placeholder="Quadratic Formula" />
    <textarea id="responseArea" placeholder="Enter problems"></textarea>
    <a
      href="https://docs.google.com/document/d/1VJUXiOxDDTXucliSt82bKSVwtZnPGRcIMZ_kgHFmIfA/edit?tab=t.punr8du6x2b"
      >Formatting instructions</a
    >
    <div id="buttonsContainer">
      <button id="formatButton">
        Format
        <img id="magicWand" src="/static/magic-wand.png" />
      </button>
      <button id="convertButton">Convert</button>
    </div>
    <br />
    <br />
    <h3><b>Step 3</b>: Upload the QTI zip file onto Canvas</h3>
    <a
      href="https://docs.google.com/document/d/1VJUXiOxDDTXucliSt82bKSVwtZnPGRcIMZ_kgHFmIfA/edit?tab=t.p2ixewln36ob"
      >Upload instructions</a
    >
  </body>
</html>
