<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QTI Generator</title>
    <!-- must have the leading slash before static-->
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="icon" type="image/png" href="/static/favicon.ico" />
    <script src="/static/script.js" defer></script>
  </head>
  <body>
    <div id="header">
      <h1>QTI Generator</h1>
      <a id="email" href="mailto:vyle4378@gmail.com">vyle4378@gmail.com</a>
    </div>
    <h3>
      Step 1 (Optional): Generate problems. If you already have them, go to step
      2.
    </h3>
    <textarea
      id="userInput"
      placeholder="Give me 5 multiple choice problems and 5 fill in the blank problems about the quadratic formula"
    ></textarea>
    <button id="generateButton">
      Generate
      <img id="magicWand" src="/static/magic-wand.png" />
    </button>
    <br />
    <br />
    <h3>Step 2: Paste problems below. Edit as needed. Convert once done.</h3>
    <label for="zipName">Name your zip file:</label>
    <input type="text" id="zipName" placeholder="Quadratic Formula" />
    <textarea id="responseArea" placeholder="Enter problems"></textarea>
    <div id="buttonsContainer">
      <button id="formatButton">
        Format
        <img id="magicWand" src="/static/magic-wand.png" />
      </button>
      <button id="convertButton">Convert</button>
    </div>
    <br />
    <br />
    <h3>Step 3: Upload the QTI zip file onto Canvas</h3>

    <div>
      As a Classic Quiz
      <ol>
        <li>Go to your Canvas course.</li>
        <li>
          Click the “Import Existing Content” button on the home page or select
          the “Import Course Content” on the course settings page.
        </li>
        <li>
          Under Import Content and next to “Content Type” select “QTI .zip file”
          from the pull-down menu.
        </li>
        <li>
          Click the "Choose File" button and select the downloaded zip file.
        </li>
        <li>
          Click the "Import" button, wait for the import process to complete,
          and check the Quizzes link in your course for the quiz.
        </li>
      </ol>
    </div>
    <div>
      As an item bank in New Quizzes
      <ol>
        <li>Go to your Canvas course.</li>
        <li>Click the “Item Banks” button on the left sidebar.</li>
        <li>
          Click the blue “+ Bank” button on the top right corner. Enter any name
          for the item bank since it will be overridden.
        </li>
        <li>Find the item bank in the list and click on it.</li>
        <li>
          Click on the 3 dots on the top right corner of the item bank and
          select "Import Content".
        </li>
        <li>
          Click the "Choose File" button and select the downloaded zip file.
        </li>
        <li>
          Click the "Import" button, wait for the import process to complete,
          and check that the questions are successfully imported.
        </li>
      </ol>
    </div>
  </body>
</html>
